.menu {
  background-color: #f7f6ea;
  width: 600px;
  padding: 25px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

img {
  margin: 10px 10px 10px 0;
  padding-bottom: 8px;
  display: inline-block;
}

.grid-container {
  display: inline-block;

}

ul li {
  list-style-type: none;
}

.grid-container ul {
  display: inline-block;
}

.grid-container li {
  display: inline-block;
  width: 250px;
  margin: 10px 10px 10px 0;
  text-align: center;
}

.table-container {
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #DDD;
}

.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #DDD;
}

.button.edit.btn {
  font-size: 13px;
  height: 18px;
  padding: 8px;
  margin-right: 10px;
}

.button.delete.btn {
  font-size: 13px;
  height: 18px;
  padding: 8px;
  margin-right: 10px;
}